.taskbar{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    height:42px;

    background:#c0c0c0;

    border-top:2px solid white;

    display:flex;

    align-items:center;

    padding:4px;

    z-index:9999;

    box-sizing:border-box;

}

.start-button{

    padding:6px 14px;

    font-weight:bold;

    border-top:2px solid white;
    border-left:2px solid white;
    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

    background:#d4d0c8;

    cursor:pointer;

}

.task-buttons{

    display:flex;

    gap:8px;

    margin-left:10px;

}

.task-buttons a{

    text-decoration:none;

    color:black;

    padding:5px 12px;

    border-top:2px solid white;
    border-left:2px solid white;
    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

    background:#d4d0c8;

}

.task-buttons a:hover{

    background:#efefef;

}

.taskbar-clock{

    margin-left:auto;

    padding:6px 10px;

    border:2px inset gray;

    min-width:70px;

    text-align:center;

    font-weight:bold;

}