:root {
  --bg-color: #0b1024;
  --window-bg: #d4d0c8;
  --window-title: #000080;
  --window-border: #000000;

  --text: #000;
  --white: #fff;

  --link: #0000ee;
  --visited: #551a8b;

  --shadow: #222;

  --font-main: Tahoma, Verdana, sans-serif;
}